
.title {
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-padding: 10px 0 30px 0;
    -fx-background-color: #A2C6BB;
}

.list-view {
    -fx-background-color: transparent;
    -fx-control-inner-background: transparent;
}

.list-view > .viewport {
    -fx-background-color: #FDF8F8;
}

.hbox {
    -fx-padding: 10px;
}
