
.background {
    -fx-background-color: #FDF8F8;
    -fx-padding: 20px;
}

.topContent {
    -fx-alignment: center-left;
    -fx-padding: 0 10px 10px 10px;
}

.logo {
}

.title {
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 42px;
    -fx-label-padding: 0 0 0 15px;
}

.column {
    -fx-alignment: CENTER;
}

.label {
    -fx-font-family: 'monospace';
}

.button {
}

.bottomContent {
    -fx-spacing: 10px;
    -fx-alignment: center-right;
    -fx-padding: 10px 10px 0px 10px
}
