
.root {
    -fx-background-color: #E8CFB5;
    -fx-background-radius: 10px;
    -fx-border-width: 0px;
    -fx-border-insets: 0px;
}

.root:hover, .selected {
    -fx-border-color: #B69EE8;
    -fx-border-radius: 10px;
    -fx-border-width: 3px;
    -fx-border-insets: -3px;
}

.button {
    -fx-cursor: hand;
    -fx-background-color: transparent;
}
