
.root {
    -fx-background-color: #E8CFB5;
    -fx-background-radius: 10px;
}

.root:hover {
    -fx-border-color: #c12126;
    -fx-border-width: 3px;
    -fx-border-insets: -3px;
    -fx-border-radius: 10px;
}

.btn {
    -fx-cursor: hand;
    -fx-background-color: transparent;
}

.close-btn {
    -fx-background-radius: 5em;
    -fx-background-color: #c12126;
}